.container {
    width: 500px;
}

.card {
    margin-top: 20px;
}

.card-header {
    border-bottom: 1px solid #ccc;
}

.table {
    width: 100%;
}

.table th,
.table td {
    padding: 8px;
}

.table th {
    text-align: left;
}

.table a {
    color: #000;
}

.btn-primary{
    margin-left: 20px;
    margin-right: 20px;
    width: 100px;
}